.columnaMenu {
    height: 10%;
    background-color: white;
  }

.largo-cartas{
  height: 90%;
}

.vision{
  display: none;
  
}


.card:hover > .vision{
  display: block;
}

.card:hover{
  transform: scale(1.05);

}



.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
