body {
  font-family: 'Poppins', sans-serif;
}

.columna {
  height: 100%;
  background-color: rgb(202, 134, 8);
  border-radius: 0px;
  
}

.columnaMenu {
  height: 10%;
  background-color: white;
}

.columnaContenido {
  height: 90%;
  background-color: rgba(235, 231, 231, 0.781);

}



